.siteContent {
   min-height: 88vh; /* todo: upravit toto není správně msí si to vzít jen spodek screenu */ 
    
}

/* login formulář */
.login .column {
    max-width: 450px;
  }
 .login .grid {
    height: 100%;
  }
 .login .image {
    margin-top: -100px;
    padding-bottom: 20px;
  }  